.App {
  /* width: 300px; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

label {
  font-weight: bold;
}

span {
  /* display: none; */
  color: red;
}
input {
  height: 30px;
  border-radius: 5px;
  outline: none;
}

input:invalid{
  border: 3px solid red;
}

input:valid {
  border: 3px solid green;
}



.email {
  padding-bottom: 20px;
}
.emailInput {
  width: 300px;
}

.pass {
  padding-bottom: 20px;
}
.passInput {
  width: 300px;
}

.confirmPass{
  padding-bottom: 20px;
}
.confirmPassInput {
  width: 300px;
}

.btn {
  background-color: rgba(0, 119, 255, 0.815);
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}